
@{
    ViewBag.Title = "Candlestick";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Basic Candlestick Chart</h4>
                <div id="basic_candlestick" class="apex-charts" dir="ltr"></div>
            </div>
        </div><!--end card-->
    </div><!-- end col -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Candlestick Synced with Brush Chart (Combo)</h4>
                <div id="combo_candlestick" class="apex-charts" dir="ltr"></div>
                <div id="combo_candlestick_chart" class="apex-charts" dir="ltr"></div>
            </div>
        </div><!--end card-->
    </div><!-- end col -->
</div><!-- end row -->

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Category X-Axis</h4>
                <div id="category_candlestick" class="apex-charts" dir="ltr"></div>
            </div>
        </div><!--end card-->
    </div><!-- end col -->

</div><!-- end row -->

@section scripts{

    <!-- apexcharts -->
    <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>

    <script src="https://apexcharts.com/samples/assets/ohlc.js"></script>
    <!-- for Category x-axis chart -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.8.17/dayjs.min.js"></script>

    <!-- candlestick charts init -->
    <script src="~/assets/js/pages/apexcharts-candlestick.init.js"></script>

    <script src="~/assets/js/app.js"></script>

}
